.inputContainer{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}

.input{
    border: black;
    border-left: 5px;
    border-bottom: 1px;
    border-top: 1px;
    border-right: 1px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
